@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@media screen and (max-width:767px ) {
  .naviconTXT {
    display: none;
  }
  .first-payment-img {
    width: 440px !important;
  }
}
@media (min-width:490px) and (max-width:767px ) {
  .first-payment-img {
    width: 440px !important;
  }
}
@media (min-width:300px) and (max-width:489px ) {
  .first-payment-img {
    width: 290px !important;
  }
}
@media screen and (max-width:500px ) {
  #logohead {
    width: 300px !important;
  }
  .navicon svg {
    width:18px !important;
  }
  .action-links a {
    margin: 0px 7px !important;
  }
}
@media screen and (max-width:364px ) {
  .show-wrap .show-img {
    width: 250px;
  }
}
/* GLOBAL STANDARDS */
:root {
  --purple-3:#1e1e58;
}
body {
  margin: 0px !important;
  height: 100% !important;
  background-color: #010129 !important;
  background: url(./assets/img/overlay.svg) no-repeat fixed center;
  background-size: cover;
  font-family: 'Rajdhani', sans-serif !important;
}
h1 {
  font-size: 56px !important;
}
h2 {
  font-size: 36px !important;
}
h3 {
  font-size: 26px !important;
}
h4 {
  font-size: 20px !important;
}
h5 {
  font-size: 18px !important;
}
p {
  font-size: 24px !important;
}
/* GLOBAL STANDARDS */
#lang {
  background-color: #272761;
    padding: 0px 17px;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 20px;

}
#globalwrap {
  height: 100vh;
}
#backofficewrap {
  
  background-size: cover;
  background-color: #090931;
  
  margin: 0px;
  overflow-y: scroll;
  height: 100vh;
}
#address {
  color: #7cbc8c;
  padding: 40px;
  padding-bottom: 0px;
  font-size: 10px;
}
.refresh-wrap {
  margin-top: 40px;
  flex-direction: column;
    align-items: center;
}
.refreshbtn {
  z-index: 100;
  color: white;
    background-color: #623cea;
    padding: 5px 30px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.refreshbtn-visited {
  background-color:#525277 !important;
  color:#9b96af !important;
}
.refreshbtn svg {
  margin-right: 5px;
}
.rotate svg {
  -webkit-transition: -webkit-transform 1s;
  -webkit-transform: rotate(260deg);
}
.d-none {
  display:none !important;
}
.d-block {
  display: block !important;
}
#refresh2 {
  display:none;
}
#address a:hover {
  text-decoration: none;
}
#logohead {
  max-width: 450px;
}
.heading-content {/*
  padding-top: 140px;*/
  padding-bottom: 140px;
}
.tron_currency-2 {
  width: 35px;
}
.quote-yellow {
  background-color: #ffc107;
    width: fit-content;
    color: black !important;
    font-weight: 600;
    padding: 0px 20px;
    border-radius: 9px;
}
.signature {
  color:#32326c;
}
.reset-bg {
  background-image: url(./assets/img/rfrs.png);
    background-position: center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
}
.whitext {
  color: white;
}

.heading-title {
  font-weight: bold;
}

.heading-sub-title {
  font-size: 2.5vw;
  font-weight: bold;
}

.lightweight {
  font-weight: 100;
}

.custombtn {
  min-width: 200px;
  /*min-height: 60px;*/
  margin: 10px;
  border-radius: 40px !important;
  font-size: 20px !important;
  font-weight: bold !important;
}
.ctatext {
  color: #35ff69;
}
#features {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#subtitle {
  color: #7cbc8c;
}
.features_wrap {
  display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.features_box {
  max-width: 250px;
  margin: 20px;
}
.features_box p {
  color: white;
}
.features_box h4 {
  color: #35ff69;
  text-transform: uppercase;
}
.features_box i {
  margin: 20px;
  color: #35ff69;
}

#counter {
  display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.counter_box {
  text-align: center;
  margin: 30px 20px;
}

.counter_box h4 {
  color: white;
  font-size: 20px;
}

.counter_box h2 {
  color: #7cbc8c;
  font-size: 40px;
}
.matrix_boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.show-wrap {
  color: white;
    height: 370px;
}
.show-text {
  padding: 20px;
    position: absolute;
    max-width: 300px;
    transform: translate(0px, -67px);
}
.matrix_box {
  width: 400px;
  height: 300px;
  border-radius: 8px;
  margin: 10px;
}
.show-matrix {
  overflow: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: 20px;
    background-color:#0d0d40;
}
.show-matrix-label {
  position: absolute;
  transform: translate(10px, 0px);
    width: 70px;
    z-index: 0;
}
.box {
  width: 750px;
  margin: auto;
  /*background: #fff;*/
  border-radius: 7px;
  /*box-shadow: 1px 2px 4px rgba(0,0,0,.3);*/
}
.faqBox {
  max-width: 700px;
  margin: auto;
  padding-bottom: 80px !important;
}
.box .heading {
  /*background: #7800CF;*/
  border-radius: 7px 7px 0px 0px;
  padding: 10px;
  color: #35ff69;
  text-align: center;
  font-family: "Overpass", sans-serif;

  font-size: 16px;
}

.faqs {
  padding: 0px 20px 20px;
}

::-webkit-details-marker {
  float: right;
  margin-top: 3px;
}

details {
  background: var(--purple-3);
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 20px;
  
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
}

details p {
  margin-top: 10px;
  
}
.subtext {
  color: #3434d5;
}
details summary {
  outline: none;
  color: #35ff69;
  FONT-SIZE: 24PX;
  font-weight: 600;
}
/*USER DEFINITION WRAP*/
.userdefinition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tron_currency {
  width: 21px;
}
/*affiliate wrap*/
.affiliate_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*xwrap*/
.xwrap {
  background-color: #0d0d40;
  padding: 25px;
  border-radius: 9px;
  /* border: 2px solid #35ff60;   */
  margin-bottom: 25px;
  -webkit-box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.5);
}
/*Wallet Wrap*/
.wallet_wrap p {
  overflow: hidden;
}

/*Contract Wrap*/

.contract_wrap p {
  overflow: hidden;
}

.custom_btn {
  width: 100%;
}
#trx_amount {
  margin-bottom: 40px;
}

.matrix_logo {
  width: 100px;
  height: 100px;
  position: relative;
  right: 25px;
}
.earning_amount_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#tronxlogo {
  position: relative;
  top: 9px;
  left: 11px;
  width: 51px;
}
#refLink {
  background-color: #111155;
  border: none;
  color: white;
  width: 90%;
  border-radius: 5px;
  height: 27px;
  margin-right: 3px;
}

/*matrix earnings*/
.matrix_earnings {
  /* border: 2px solid #35ff60; */
  /* margin-bottom: 40px; */
  
  border-radius: 9px;
}
.custom_hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #151566;
}
.social_custom {
  color: red;
}

#title_container_img {
  width: 300px;
}

.boxes_wraper {
  /*X5 MATRIX WRAPPER*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
}
.mini-position {
  width: 25px !important;
  height: 25px !important;
}
.boxes_wraper_x12 {
  /*X12 MATRIX WRAPPER*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.matrix_box {
  /*X5 MATRIX*/
  width: 200px;
  margin: 20px;
  max-height: 135px;
}
.matrix_box_x12 {
  /*X12 MATRIX*/
  width: 280px;
  margin: 20px;
  max-height: 180px;
  text-align: center;
}
.box_basket {
  margin-bottom: 40px;
}
.basket_btn {
  width: 200px;
  height: 40px;
  font-size: 20px !important;
}

.basket_active {
  background-color: #623cea !important;

  -webkit-box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.5);
}

.box_number {
  position: relative;
  left: 15px;
  top: 25px;
  color: #001029;
  font-weight: 900;
}
.box_number_x12 {
  position: relative;
  right: 79px;
  top: 25px;
  font-weight: 900;
  color: #001029;
}
.box_positions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box_positions_x12 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}
.position {
  width: 30px;
  height: 30px;
  border: 1px solid #7cbc8c; /*THIS IS THE DEFAULT COLOR FOR UNNOCUPIED POSITIONS*/
  border-radius: 50%;
  z-index: 2;
  background-color: #0d0d40;
}
.position_reset {
  width: 30px;
  height: 30px;
  border: 1px solid #7cbc8c; /*THIS IS THE DEFAULT COLOR FOR UNNOCUPIED POSITIONS*/
  border-radius: 5px;
  z-index: 2;
  background-color: #0d0d40;
}
.box_subpositions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.subposition {
  width: 20px;
  height: 20px;
  border: 1px solid #7cbc8c; /*THIS IS THE DEFAULT COLOR FOR UNNOCUPIED POSITIONS*/
  border-radius: 50%;
  z-index: 2;
  background-color: #0d0d40;
}
.subposition_refresh {
  width: 20px;
  height: 20px;
  border: 1px solid #7cbc8c; /*THIS IS THE DEFAULT COLOR FOR UNNOCUPIED POSITIONS*/
  border-radius: 5px;
  z-index: 2;
  background-color: #0d0d40;
}
.tip {
  margin-bottom: 10px;
}
.mr10 {
  margin-right: 10px;
}
.action-links a {
  margin: 0px 10px;
  color:#fff;
  font-size: 22px;
}
.action-links a:hover {
  text-decoration: none;
  color:#623cea;
}
.navig {
  background-color: #0d0d40;
}
.navicon svg {
  width:12px;
}
.Tips {
  color: #6262c5;
    font-size: 20px;
}
.position_active {
  background-color: #35ff69;
  border-color: #35ff69 !important;
}
.position_reset i {
  position: relative;
  top: 6px;
  left: 7px;
  color: white;
}
.flow_line {
  /*FLOW LINES  OVERALL DESIGN FOR X5 AND X12 MATRIX*/
  border-left: 1px dashed rgba(255, 255, 255, 0.19);
  width: 1px;
  position: relative;
  z-index: 1;
}
.line_one {
  height: 50px;
  left: 100px;
  bottom: 70px;
}
.line_two {
  height: 25px;
  left: 142px;
  bottom: 100px;
}
.line_three {
  height: 25px;
  left: 185px;
  bottom: 125px;
}
.line_four {
  height: 25px;
  left: 57px;
  bottom: 150px;
}
.line_five {
  height: 25px;
  left: 15px;
  bottom: 175px;
}
.line_six {
  height: 172px;
  left: 100px;
  bottom: 287px;
  transform: rotate(90deg);
}

.line_one_x12 {
  height: 90px;
  left: 140px;
  bottom: 110px;
}
.line_two_x12 {
  height: 188px;
  left: 140px;
  bottom: 275px;
  transform: rotate(90deg);
}
.line_three_x12 {
  height: 25px;
  left: 47px;
  bottom: 368px;
}
.line_four_x12 {
  height: 25px;
  left: 47px;
  bottom: 368px;
}
.line_five_x12 {
  height: 25px;
  left: 47px;
  bottom: 368px;
}
.line_six_x12 {
  height: 30px;
  left: 30px;
  bottom: 398px;
  transform: rotate(40deg);
}
.line_seven_x12 {
  height: 30px;
  left: 62px;
  bottom: 430px;
  transform: rotate(-40deg);
}
.line_eight_x12 {
  height: 30px;
  left: 125px;
  bottom: 458px;
  transform: rotate(40deg);
}
.line_nine_x12 {
  height: 30px;
  left: 156px;
  bottom: 489px;
  transform: rotate(-40deg);
}
.line_ten_x12 {
  height: 30px;
  left: 217px;
  bottom: 518px;
  transform: rotate(40deg);
}
.line_eleven_x12 {
  height: 25px;
  left: 234px;
  bottom: 593px;
}
.line_twelve_x12 {
  height: 25px;
  left: 234px;
  bottom: 575px;
}
.line_thirteen_x12 {
  height: 30px;
  left: 250px;
  bottom: 599px;
  transform: rotate(-40deg);
}
#backoffice_row {
  margin-top: 50px;
}

#title_container_img {
  width: 100px;
}

.basket {
  color: #fff !important;
  background-color: #5c8290 !important;
}

/* modal CSS  */

.flex-container {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  flex-flow: row !important;
  align-items: center !important;
  justify-content: center !important;
}

.modal_btn {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 100%;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin: 5px;
  color: #fff;
  outline: 0;
  text-shadow: 5px 5px 10px #cbced3, 5px -5px 10px #cbced3,
    -5px 5px 10px #cbced3, -5px -5px 10px #cbced3;
}

.modal_btn:focus {
  outline: 0;
}

.mod-btn-ethereum {
  background-color: #4daebf !important;
}

.mod-btn-tron {
  background-color: #b22279 !important;
}

.modal-content {
  background-color: #23203a !important;
}

.cus-modal-header {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

.logo-payment {
  width: 300px;
}

.wrapper {
  height: 100vh;
}
.logo-payment {
  width: 300px;
}
.logo-payment-wrap {
  padding-top: 50px;
  margin-bottom: 40px;
}

.registration-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.registration-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sponsor-input-box {
  width: 200px;
  background-color: #31315a;
  color: white;
  font-size: 20px;
  border: 2px solid #080819;
  padding-top: 7px;
  padding-bottom: 4px;
  border-radius: 5px;
}

.h20 {
  height: 20px;
}
.h50 {
  height: 50px;
}

.buy-icon5X {
  cursor: not-allowed;
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 60;
  display: block;
  width: 50px;
  height: 50px;
  transition: transform 0.5s;
  background: url(./assets/img/buyIcon.svg) no-repeat;
}

.buy-icon:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  cursor: pointer;
}

.buy-iconX12 {
  cursor: not-allowed;
  position: absolute;
  right: 40px;
  top: 10px;
  z-index: 60;
  display: block;
  width: 50px;
  height: 50px;
  transition: transform 0.5s;
  background: url(./assets/img/buyIcon.svg) no-repeat;
}

.first-payment-img {
  width: 600px;
}

.reload-data {
  position: relative;
  top: -235%;
  display: flex;
  justify-content: center;
}

.reload-data div {
  margin: 5px;
}

.reload-data div {
  margin: 10px;
}
.logo-payment-nav {
  width:160px;
}